@model HRIS.Application.Employees.Dtos.Queries.GetEmployeesDto

@{
    ViewData["Title"] = "ViewSample";
}

<h1>ViewSample</h1>

<div>
    <h4>ViewSample</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerialID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentSectionCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentSectionCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CivilStatusCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CivilStatusCode)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
