@page "/employee/create"
@page "/employee/edit/{empid}"
@attribute [Authorize]
@inherits CreateUpdateEmployeeBase

@if (string.IsNullOrEmpty(empid))
{
    <PageTitle>Create a new employee</PageTitle>
    <h3>Employee Details</h3>

    <EditForm Model="createEmployee" OnSubmit="HandleSubmit">
        <div>
            <label class="col-form-label" for="firstname">First Name</label>
            <InputText id="firstname" @bind-Value="createEmployee.FirstName" class="form-control"></InputText>
        </div>
        <div>
            <label class="col-form-label" for="middlename">Middle Name</label>
            <InputText id="middlename" @bind-Value="createEmployee.MiddleName" class="form-control"></InputText>
        </div>
        <div>
            <label class="col-form-label" for="lastname">Last Name</label>
            <InputText id="lastname" @bind-Value="createEmployee.LastName" class="form-control"></InputText>
        </div>

        <div>
            <label class="col-form-label">Department</label><br />
            <InputSelect @bind-Value="createEmployee.DepartmentCode" class="form-select">
                @foreach (var dept in departmentList)
                {
                    <option value="@dept.Code">@dept.Description</option>
                }
            </InputSelect>
        </div>
        <div>
            <label class="col-form-label">Section</label><br />
            <InputSelect @bind-Value="createEmployee.DepartmentSectionCode" class="form-select">
                @if (departmentSectionList.Count > 0)
                {
                    foreach (var sect in departmentSectionList)
                    {
                        <option value="@sect.Code">@sect.Description</option>
                    }
                }
            </InputSelect>
        </div>

        <div>
            <label class="col-form-label">Civil Status</label><br />
            <InputSelect @bind-Value="createEmployee.CivilStatusCode" class="form-select">
                @foreach (var civilstat in civilStatusList)
                {
                    <option value="@civilstat.Code">@civilstat.Description</option>
                }
            </InputSelect>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">@btnText</button>
        <button type="button" class="btn btn-primary">Cancel</button>
    </EditForm>
}
else
{
    @* <PageTitle>Edit @updateEmployee.EmpID;</PageTitle>
    <h3>Edit @updateEmployee.EmpID</h3>


    <EditForm Model="" OnSubmit="HandleSubmit">
    <div>
        <label for="firstname">First Name</label>
        <InputText id="firstname" @bind-Value="hero.FirstName" class="form-control"></InputText>
    </div>
    <div>
        <label for="lastname">Last Name</label>
        <InputText id="lastname" @bind-Value="hero.LastName" class="form-control"></InputText>
    </div>
    <div>
        <label for="heroname">Hero Name</label>
        <InputText id="heroname" @bind-Value="hero.HeroName" class="form-control"></InputText>
    </div>
    <div>
        <label>Comic</label><br />
        <InputSelect @bind-Value="hero.ComicId" class="form-select">
            @foreach (var comic in SuperHeroService.Comics)
            {
                    <option value="@comic.Id">@comic.Name</option>
            }
        </InputSelect>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">@btnText</button>
    <button type="button" class="btn btn-danger" @onclick="DeleteHero">Delete Hero</button>
</EditForm>*@
}
