@page "/employee"

@attribute [Authorize]
@inherits EmployeeBase
<PageTitle>Employees</PageTitle>

<h3>Employee</h3>

<button class="btn btn-primary" @onclick="CreateNewEmployee">Create New Employee</button>

<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Employee Name</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Department</th>
            <th>Section</th>
            <th>Date Of Birth</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in getEmployees)
        {
            <tr>
                <td>
                    <table>
                        <tr>

                            <td><button class="btn btn-primary" @onclick="(() => EditEmployee(employee.EmpID))"><i class="oi oi-pencil"></i></button></td>

                            <td><button class="btn btn-danger" @onclick="(async() => await DeleteEmployee(employee.EmpID))"><i class="oi oi-trash"></i></button></td>
                        </tr>
                    </table>
                </td>
                <td>@employee.EmpID</td>
                <td>@employee.LastName</td>
                <td>@employee.FirstName</td>
                <td>@employee.MiddleName</td>
                <td>@employee.Department.Description</td>
                <td>@employee.DepartmentSection.Description</td>
                <td>@employee.DateOfBirth.ToString("dd/MMM/yyyy")</td>
            </tr>
        }
    </tbody>
</table>

<div>
    <input type="button" class="btn-lg btn" id="prev" @onclick="PrevPage" value="Previous" />

    @for (int i = CurPage; i <= TotalPages; i++)
    {
        int j = i;
        @if (i > 0)
        {
            if (i == CurPage)
            {
                <span class="px-2" style="font-weight:bold;cursor:pointer" @onclick="() => ShowPage(j)">@i</span>
            }
            else
            {
                <span class="px-2" style="cursor:pointer" @onclick="() => ShowPage(j)">@i</span>
            }
        }

    }
    <input type="button" class="btn-lg btn" id="next" @onclick="NextPage" value="Next" />
</div>









